asgiref==3.7.2
beautifulsoup4==4.12.3
celery[redis]==5.3.6
discord.py==2.3.2
dj-database-url==2.1.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-handyhelpers==0.3.22
django-markdownify==0.9.3
django-storages[azure]==1.14.2
Django==5.0.1
gunicorn==21.2.0
lxml==5.1.0
psycopg[binary]==3.1.17
python-dotenv==1.0.1
sqlparse==0.4.4
