{% load web_extras markdownify %}
<table class="table table-bordered table-hover" data-toggle="table">
  <thead>
    <th>Name</th>
    <th>Group</th>
    <th>When</th>
    <th>Duration</th>
    <th>Location</th>
  </thead>
  <tbody>
    {% for event in queryset %}
      <tr>
        <td>
          <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
        </td>
        <td>
          <a href="{{ event.group.get_absolute_url }}">{{ event.group }}</a>
        </td>
        <td data-testid="date_time">
          {% include 'spokanetech/partials/human_readable_datetime.htm' with object=event only %}
        </td>
        <td>{% if event.duration %}{{ event.duration|timedelta }}{% endif %}</td>
        <td>{{ event.location }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if kwargs.can_edit %}
<div class="mt-3">
  <a href="{% url 'web:add_event' %}" class="btn btn-primary">Add</a>
</div>
{% endif %}
