{% comment %}
Copied from https://github.com/davidslusser/django-handyhelpers/blob/main/handyhelpers/templates/handyhelpers/htmx/bs5/navigation/build_sidebar.htm

The only change from the source is the addition of `hx-push-url="true"` on HTMX menu links.

Build dropdown navigations in a sidebar. This is intented to be used with the handyhelpers_with_sidebar.htm base template or similar.
{% endcomment %}
<ul class="sidebar-nav">
    {% for item in menu_item_list %}
    <li class="sidebar-item">
        <a class="sidebar-link collapsed" data-bs-target="#{{ item.target_id }}" data-bs-toggle="collapse"
            aria-expanded="false"><span class="pe-2">{{ item.icon|safe }}</span>
            {{ item.model_name|title }}
        </a>
        <ul id="{{ item.target_id }}" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            {% if item.list_all_url %}
            <li class="sidebar-link">
                {% if item.htmx_link is False %}
                <a href="{{ item.list_all_url}}" class="sidebar-link ms-4">All {{ item.model_name }}</a>
                {% else %}
                <a hx-get="{{ item.list_all_url }}" hx-target="#{{ item.htmx_target }}" hx-push-url="true" class="sidebar-link ms-4">All {{ item.model_name }}</a>
                {% endif %}
            </li>
            {% endif %}
            {% for row in item.queryset %}
            <li class="sidebar-link">
                {% if item.link %}
                    {% if item.htmx_link is False %}
                    <a href="{{ row.get_absolute_url }}" class="sidebar-link ms-4">{{ row }}</a>
                    {% else %}
                    <a hx-get="{{ row.get_absolute_url }}" hx-target="#{{ item.htmx_target }}" hx-push-url="true" class="sidebar-link ms-4">{{ row }}</a>
                    {% endif %}
                {% else %}
                <span class="sidebar-link ms-4">{{ row }}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    {% if user.is_authenticated %}
        <li class="sidebar-item">
            <a class="sidebar-link collapsed" data-bs-target="#account-dropdown" data-bs-toggle="collapse"
                aria-expanded="false"><span class="pe-2">
                    <i class="fa-solid fa-user"></i>
                </span>
                Account
            </a>
            <ul id="account-dropdown" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                {% url 'account_email' as email_url %}
                {% url 'socialaccount_connections' as socialaccount_url %}
                {% if email_url or socialaccount_url %}
                    <li class="sidebar-link">
                        <a href="{% if email_url %}{{ email_url }}{% else %}{{ socialaccount_url }}{% endif %}"
                            class="sidebar-link ms-4">Manage Account</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url %}
                {% if change_password_url %}
                    <li class="sidebar-link">
                        <a class="sidebar-link ms-4"
                           href="{% url 'account_change_password' %}">Change Password</a>
                    </li>
                {% endif %}
                {% url 'socialaccount_connections' as connections_url %}
                {% if connections_url %}
                    <li class="sidebar-link">
                        <a class="sidebar-link ms-4"
                           href="{{ connections_url }}">Third-Party Accounts</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_index_url %}
                {% if mfa_index_url %}
                    <li class="sidebar-link">
                        <a class="sidebar-link ms-4"
                           href="{{ mfa_index_url }}">Two-Factor Authentication</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url %}
                {% if usersessions_list_url %}
                    <li class="sidebar-link">
                        <a class="sidebar-link ms-4"
                           href="{{ usersessions_list_url }}">Sessions</a>
                    </li>
                {% endif %}
                <li class="sidebar-link" >
                    <a class="sidebar-link ms-4" href="{% url 'account_logout' %}">Sign Out</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li class="sidebar-item mt-3" style="padding: .25rem 1.625rem;">
            <a href="{% url 'account_login' %}" class="btn btn-outline-light w-100">Sign In</a>
        </li>
        {% url 'account_signup' as signup_url %}
        {% if signup_url %}
            <li class="sidebar-item" style="padding: .25rem 1.625rem;">
                <a href="{{ signup_url }}" class="btn btn-primary w-100">Sign Up</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
