<section class="about">
    <h1 class="fade-in-blur" style="--fade-duration: .9s;">About SpokaneTech.org</h1>
    <p class="fade-in-blur" style="--fade-duration: 1s;">
        Welcome to <span class="highlight">SpokaneTech.org</span>, a vibrant community of technology enthusiasts based in Spokane. Our mission is to <strong class="highlight">foster community</strong>, <strong class="highlight">knowledge sharing</strong>, and <strong class="highlight">growth</strong> among individuals who are passionate about technology.
    </p>
    <p class="fade-in-blur" style="--fade-duration: 1.1s;">    
        Founded on the principles of collaboration and innovation, SpokaneTech.org brings together tech professionals, hobbyists, students, and anyone with an interest in technology. We believe that by working together and sharing knowledge, we can drive personal and professional growth, as well as contribute to the technological advancement of our community.
    </p>
    <p class="fade-in-blur" style="--fade-duration: 1.2s;">
        At SpokaneTech.org, we host regular meetups, workshops, and events where members can connect, learn, and share their experiences. Our events cover a wide range of topics, from software development and cybersecurity to emerging technologies like AI and blockchain. Whether you're a seasoned professional or just starting your tech journey, <strong class="highlight">there's always something for everyone.</strong>
    </p>
    <p class="fade-in-blur" style="--fade-duration: 1.3s;">
        Join us at SpokaneTech.org and become a part of a supportive and dynamic community that is dedicated to making a positive impact through technology. Together, we can achieve great things and help shape the future of technology in Spokane and beyond.
    </p>
</section>