<section class="hero fade-in-blur" style="--fade-duration: 1s;">
    <div class="hero-content">
        <h1><span class="accent">Your</span> Inland Northwest tech community</h1>
        <div class="hero-buttons">
            <button class="btn btn-outline" hx-get="{% url 'web:about' %}" hx-target="#body_main" hx-push-url="true">Learn More</button>
        </div>
    </div>
</section>
<section class="fade-in-blur" style="--fade-duration: 1s;">
    <div class="marquee-menu">
        <ul>
            <li><a href="#" hx-get="{% url 'web:get_techgroups' display='index' %}" hx-target="#marquee">Groups</a></li>
            <li><a href="#" hx-get="{% url 'web:get_events' display='index' %}" hx-target="#marquee">Events</a></li>
        </ul>
    </div>
    <div class="marquee-wrapper blur-group-container fade-in-blur" id="marquee"
    style="--fade-duration: 1.5s;
           --marquee-item-width: 280px; 
           --marquee-item-height: 150px; 
           --marquee-duration: 90s"
    hx-get="{% url 'web:get_techgroups' display='index' %}" hx-trigger="load"
    >
</section>