<section class="about">
<h1 class="fade-in-blur" style="--fade-duration: 0.5s;">Upcoming Events</h1>

<div class="list-card-container blur-group-container fade-in-blur" style="--fade-duration: 0.75s;">
    {% for row in queryset %}
    <div class="list-card" hx-get="{% url 'web:get_techevent' row.pk %}" hx-target="#body_main" hx-push-url="true">
        <div class="title">{{ row.name }}</div>
        <div class="tag-container">
            {% for tag in row.tags.all %}
            <small><span class="tag">{{ tag }}</span></small>
            {% endfor %}
        </div>
        <div class="split-footer">
            <div class="footer-left">{% if row.group %}{{ row.group.name }}{% endif %}</div>
            <div class="footer-right">{% if row.date_time %}{{ row.date_time }}{% endif %}</div>
        </div>
    </div>
    {% endfor %}
</div>
</section>
