<h1 class="mb-3 text-primary">
    {{ object }}
  </h1>
  
  <div class="mb-4 rounded bg-primary text-white p-2 d-inline-block">
    {% include 'spokanetech/partials/human_readable_datetime.htm' with object=object only %} for {{ object.duration }} hour{{ object.duration|pluralize }}
  </div>
  
  <div class="card group-card">
    <div class="card-body">
      <div class="card-title">
        <a href="{{ object.group.get_absolute_url }}">{{ object.group }}</a>
      </div>
      <p class="card-text">{{ object.group.description|truncatewords_html:10 }}</p>
    </div>
  </div>
  
  <p>
    <h2>Description</h2>
    {{ object.description }}
  </p>
  