{% extends 'web/partials/generic_list.htm' %}
{% load web_extras markdownify %}

{% block content %}
<div class="grid">
  {% for object in queryset %}
  <div class="card mb-0">
    {% if object.image %}
    <a href="{{ object.get_absolute_url }}">
      <img style="max-height: 200px; object-fit: cover;" src="{{ object.image.url }}" class="card-img-top">
    </a>
    {% endif %}
    <div class="card-body card-header">
      <h5 class="card-title">
        <a href="{{ object.get_absolute_url }}" class="link">
          {{ object }}
        </a>
      </h5>
      <span data-testid="date_time">
        {% include 'spokanetech/partials/human_readable_datetime.htm' with object=object duration=object.duration only %}
      </span>
    </div>
    <div class="card-body">
      {% if object.tags.all %}
      <div class="mb-1">
        {% for tag in object.tags.all %}
        <a href="{% url 'web:list_events' %}?tags={{ tag.pk }}" class="badge rounded-pill text-bg-primary">{{ tag }}</a>
        {% endfor %}
      </div>
      {% elif object.group.tags.all %}
      <div class="mb-1">
        {% for tag in object.group.tags.all %}
        <a href="{% url 'web:list_events' %}?tags={{ tag.pk }}" class="badge rounded-pill text-bg-primary">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      {{ object.description|markdownify|truncatewords_html:50 }}
    </div>
    <div class="card-body d-flex flex-wrap align-items-end justify-content-between" style="gap: 8px;">
      {% if object.group %}
      <a href="{{ object.group.get_absolute_url }}" class="card-link">
        {{ object.group }}
      </a>
      {% endif %}
      {% if object.url %}
      <div class="flex-grow-1 text-end">
        <a href="{{ object.url }}" target="_blank" class="card-link">
          RSVP <i class="fa-solid fa-arrow-up-right-from-square"></i> 
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="mt-3">
  <a href="{% url 'web:add_event' %}" class="btn btn-outline-primary">
    {% if request.user.is_staff %}Add Event{% else %}Suggest Event{% endif %}
  </a>
</div>
{% endblock content %}
