{% if queryset %}
{% for row in queryset %}
<a href="{% url 'web:get_event' row.pk %}">
    <div class="card">
        <div class="card-title">
            {{ row.name }}
        </div>
        <div class="card-subtitle">
            {{ row.group.name }}
        </div>
        <div class="card-secondary">
            {{ row.date_time }}
        </div>
    </div>
</a>
{% endfor %}
{% else %}
{% comment %} <div class="empty-queryset">
    No events currently scheduled
</div> {% endcomment %}
{% endif %}
