{% load web_extras markdownify %}
<div class="grid">
  {% for object in queryset %}
  <div class="card mb-0">
    <div class="card-body card-header">
      <h5 class="card-title">
        <a href="{{ object.get_absolute_url }}" class="link">
          {{ object }}
        </a>
      </h5>
    </div>
    <div class="card-body">
      {{ object.description|markdownify|truncatewords_html:50 }}
    </div>
    <div class="card-body d-flex flex-wrap align-items-end justify-content-between" style="gap: 8px;">
      <div class="flex-grow-1 text-end">
        <a href="{{ object.homepage }}" target="_blank" class="card-link">
          Homepage <i class="fa-solid fa-arrow-up-right-from-square"></i> 
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
