:root {
    --gradient-color: linear-gradient(352deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(10, 99, 189) 13%, rgba(14, 55, 163, 1) 35%, rgba(20, 9, 121, 1) 68%);
    /* --gradient-color: linear-gradient(352deg, rgb(0, 45, 11) 0%, rgb(0, 182, 27) 0%, rgb(8, 251, 0) 13%, rgb(0, 91, 20) 35%, rgb(0, 0, 0) 68%); */
    /* --gradient-color: radial-gradient(20% 20% at 0% 35%, #00b009bf 0%, #3b3b3bbf 63%), linear-gradient(152deg, #363636ff 79%, #18cc00ff 100%);background-blend-mode: hard-light; */
    --accept-color: rgba(0, 213, 255, 1);
    --light: #fff;


}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background: var(--gradient-color);
    /* background: 50% 49% / 100px 100px repeat repeating-linear-gradient(to bottom left, #273559ff 0% 10%, #364a7cff 10% 20%, #3b5187ff 20% 30%, #495d97ff 30% 40%, #5373a2ff 40% 50%), 0% 0% / 100px 100px repeat repeating-linear-gradient(to bottom right, #273559ff 0% 10%, #36497aff 10% 20%, #3c5288ff 20% 30%, #475e9bff 30% 40%, #536ea4ff 40% 50%), radial-gradient(farthest-corner at 100% 93%, #47fa00ff 0%, #000000ff 100%);background-blend-mode: color-burn; */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light);
}


main {
    flex: 1;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    padding: 3rem;    
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: var(--light);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar .logo {
    font-size: 1rem;
    font-weight: bold;
}
.navbar .logo a {
    color: var(--light);
    opacity: .5;
    text-decoration: none;
    transition: opacity 0.3s ease;
}
.navbar .logo a:hover {
    text-decoration: none;
    opacity: 1;
    color: var(--light);
}
.navbar .menu {
    list-style: none;
    display: flex;
    gap: .25rem;
}
.navbar .menu li {
    display: inline;
}
.navbar .menu a {
    padding: 10px 15px;
    color: var(--light);
    opacity: .5;
    text-decoration: none;
    transition: opacity 0.3s ease;
}
.navbar .menu a:hover {
    text-decoration: none;
    opacity: 1;
    color: var(--light);
}

.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: var(--light);
    /* margin-top: 8rem;
    margin-bottom: 2rem;
    padding: 3rem; */
    margin-bottom: 2rem;
}

.hero-content {
    max-width: 90%;
}

.hero-content .accent {
    font-style: italic;
}

.hero h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.hero p {
    font-size: 1.2rem;
}

footer {
    color: var(--light);
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: var(--light);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .title {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 50%;
    margin-bottom: .5rem;
}

footer .copyright {
    font-size: .75rem;
    opacity: 50%;
}


.icon {
    position: absolute;
    color: rgba(0, 212, 255, .1);
    font-size: 2rem;
}

/* Animation for glowing effect */
@keyframes glow {
    0% {
        opacity: 0.5;
        transform: scale(.75);
    }

    50% {
        opacity: 0.5;
        text-shadow: none;
        transform: scale(1.25);
    }

    100% {
        opacity: 0.5;
        transform: scale(.75);
        text-shadow: 0 0 10px var(--light);
    }
}



.hero-buttons {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.hero-buttons .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px; 
    margin-top: 10px; 
}

.hero-buttons .btn-filled {
    background-color: #007bff;
    color: var(--light);
}

.hero-buttons .btn-filled:hover {
    background-color: #0056b3;
}

/* .hero-buttons .btn-outline {
    background-color: transparent;
    color: #007bff;
    border-color: #007bff;
}

.hero-buttons .btn-outline:hover {
    background-color: #007bff;
    color: var(--light);
} */

.hero-buttons .btn-outline {
    background-color: transparent;
    color: var(--accept-color);
    border-color: var(--accept-color);
}

.hero-buttons .btn-outline:hover {
    background-color: var(--accept-color);
    color: var(--light);
    box-shadow: 0rem 0.25rem 1rem -0.25rem var(--accept-color);
}

.empty-queryset {
    color: var(--light);
    margin-left: 5rem;
    margin-right: 5rem;
}


.about h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* .about .highlight {
    color: yellow;
} */